
<nav class="navBar">
    <a class="sidebar-link home-link" href="../../pages/home/home.jsp">
        <span class="material-symbols-outlined">home</span> <span>Travel Inicio</span>
    </a>
    <hr>
    <a href="../../pages/gestion-paises/paises.jsp" class="sidebar-link link-pais">
        <span class="material-symbols-outlined">language</span> <span>Gestion Paises</span>
    </a>
    <a href="../../pages/gestion-hoteles/hoteles.jsp" class="sidebar-link link-hotel">
        <span class="material-symbols-outlined">hotel</span> <span>Gestion Hoteles</span>
    </a>
    <a href="../../pages/gestion-usuarios/usuario.jsp" class="sidebar-link link-user">
        <span class="material-symbols-outlined">account_circle</span> <span>Gestion Usuarios</span>
    </a>
    <a href="../../pages/gestion-empleados/empleado.jsp" class="sidebar-link link-empleado">
        <span class="material-symbols-outlined">badge</span> <span>Gestion Empleados</span>
    </a>
    <a href="../../pages/perfil/perfil.jsp" class="sidebar-link link-perfil">
        <span class="material-symbols-outlined">manage_accounts</span> <span>Perfil</span>
    </a>
    <div class="sidebar-session">
        <a href="../../pages/login/login.jsp" class="sidebar-link">
            <span class="material-symbols-outlined">logout</span> <span>Cerrar Session</span>
        </a>
    </div>
</nav> 

